.form-control {
  display: inline-block;
  width: 200px;
  margin-top: 50px;
}

#search {
  background-color: powderblue;
  text-align: center;
  width: 200px;
  margin-bottom: 50px;
}

.body {
  font-style: italic;
}